<h1><img src="https://i.ibb.co/4J1zswF/7-D7-C929-D-30-FB-4-FAD-AA8-C-D53-FED8-B842-A.png" alt="Stan Lee Head" width="75" height="50">Authors:</h1>

<% @authors.each do |author| %>
<li>
<a href="/authors/<%=author.id%>"><%=author.name%></a><br>
</li>
<%end%>




  