<h1><%=@author.name%></h1>

 <h3>Comics:</h3>
<% @author.comics.each do |comic|%>
 <a href="/comics/<%=comic.id%>"><%=comic.title%></a><br>
<%end%>
<br>
<br>
<form action="/authors/<%= @author.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Author">
</form>



