<% if flash.has?(:error) %>
<div id="error" style="border: 4px solid red;">
<%= flash[:error] %>
</div>
<% end %>

<h1>Login to Iron Man Stans: </h1>
<br>
<form action = "/login" method="POST">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="username" type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <br>
  <input type="submit" value="Login">
  <br>
  <h3> or <a href='/signup'>Click Here</a> to Sign Up</h3>
</form>