<% if flash.has?(:message) %>
<div id="success" style="border: 4px solid green;">
   <%= flash[:message] %>
</div>
<% end %>

<h1> <img src="https://i.ibb.co/FB7ftmr/685-F2-A27-1523-4-EB8-A63-F-4-A073-F6-C875-D.png" alt="Iron Man Face" width="35" height="50"> Hi, <%= @user.username %></h1>
<br>
<h2>Your Comics:</h2>
<ul>
<% @comics.each do |comic| %>
    <li> <a href='/comics/<%=comic.id%>'><%=comic.title%></a></li><br>
<%end%>
</ul>
<a href='/comics'>Click Here</a> to Browse all Comics & Add Comics to your Reading List!
<br>
<br>
<a href = '/delete_reading_list'>Click Here</a> to Delete Comics from your List
